/* common */
.flexbox{
  display: flex;
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
}

.fixed{
  position:fixed;
}

a{
  text-decoration: none;
  color: white;
}

/* common */

.container{
  width: 100vw;
  height: 100vh;
  flex-direction: row;
  
}


/* playbar in fondo */
.play-bar{  
  height: 12vh;
  width: 100vw;
  background-color: #282828;
  bottom: 0%;
  padding: 20px 20px 20px 20px;
  justify-content: space-between;
  overflow-x: visible;
  overflow-y: visible;
}

/* bottom-left */
.bottom-left{
  width: 100%;
  
  max-width: 240px;
  flex-direction: row;
  gap:20px;
  justify-content: flex-start;
}

.play-bar .bottom-left .current-played{
  flex-direction: row;
  width: 100%;
  gap:10px;
  
  justify-content: space-between
}

.play-bar .bottom-left .current-played .album-image{
  width: 100%;
  
  
  
}

.play-bar .bottom-left .current-played .album-image img{
  object-fit: contain;
  height: 100%;
  width: 100%;
  min-width: 50px;
  
  
}



.play-bar .bottom-left .current-played .song-description{
  flex-direction: column;
  min-width: 90px;
  width: 100%;
  justify-content: center;
  font-weight: bold;
  flex-grow: 1;
  
  
}

.play-bar .bottom-left .current-played .song-description .artist-name {
  color: white;
}

.play-bar .bottom-left .current-played .song-description .song-name{
  color: #878787;
  font-size: 0.8em;

}

.play-bar .bottom-left .like-and-folder{
  justify-content: space-between;
  gap:15px
}

.play-bar .bottom-left .like, .play-bar .bottom-left .like-and-folder .folder{
  align-items: center;
  font-size: 1.5em;
  color: #878787;
}

.play-bar .bottom-left .like-and-folder .like #heart{
  cursor: pointer;
}



.play-bar .bottom-left .like-and-folder .folder #folder-icon{
  cursor: pointer;
}

/* bottom-left */
/* bottom-center */
.play-bar .bottom-center{
  width: 100%;
    min-width: 250px;
    max-width: 530px;
  flex-direction: column;
  justify-content: space-between;
  
 
  
}

.play-bar .bottom-center .commands-above{
  width: 100%;
  
  flex-direction: row;
  color: white;
  font-size: 1.5em;
  gap:20px;
  justify-content: center;
  align-items: center;
  
}
.play-bar .bottom-center .commands-above > *{
  cursor: pointer;

}


.play-bar .bottom-center .commands-above .play-tune{
  font-size: 1.8em;

}

.play-bar .bottom-center .timer{
  color: white;
  font-weight: bold;
  width: 100%;
  

  justify-content: center;
  flex-direction: row;
  padding: 0 40px 0 40px;
}

.play-bar .bottom-center .timer .from-start-timer{
  width: 10%;
  justify-content: flex-end;
}

.play-bar .bottom-center .timer .until-end-timer{
  width: 10%;
}

.play-bar .bottom-center .timer .progress-bar{
  width: 80%;
  flex-direction: row;  
  align-items: center;
  padding: 0 10px;
  cursor: pointer;
}

.play-bar .bottom-center .timer .progress-bar .p-bar-outer .p-bar-inner{
  width: 0%;
  background-color: #C1C1C1;
  height: 3px;
  position: absolute;
  animation-name: bar-progress;
  animation-duration: 360s;

}

@keyframes bar-progress {
  0%   {width:0%}
  100% {width: 100%} 
}

.play-bar .bottom-center .timer .progress-bar .p-bar-outer .p-bar-dot{
  border-radius: 50%;
  background-color: #C1C1C1;
  height: 10px;
  width: 10px;
  animation-name: dot-progress;
  animation-duration: 360s;
  position: absolute;
}

@keyframes dot-progress {
  0%   {left:0%}
  100% {left: 100%} 
}

.play-bar .bottom-center .timer .progress-bar .p-bar-outer{
  width: 100%;
  background-color: #5A5A5A;
  height: 3px;
  flex-direction: row;
  align-items: center;
  position: relative;

}








/* bottom-center */

/* bottom-right */
.play-bar .bottom-right{
  max-width: 240px;
  width: 100%;
  flex-direction: row;
  gap:20px;
  justify-content:flex-end;

  color: white;
  align-items: center;

}

.play-bar .bottom-right > *{
  
  cursor: pointer;
}

.play-bar .bottom-right .volume-bar{
  flex-direction: row;
  width: 70%;
  min-width: 100px;
  
}

.play-bar .bottom-right .volume-bar-initial{
  height: 3px;
  background-color: #C1C1C1;
  width: 15%;
}

.play-bar .bottom-right .volume-bar-final{
  height: 3px;
  width: 85%;
  background-color: #878787;
}

/* bottom-right */


/* playbar in fondo */

/* navbar-left */
.navbar-left{
  height: calc(100% - 12vh);
  width: 210px;
  min-width: 210px;
  background-color: black;
  padding: 30px 20px 20px 0px;
  flex-direction: column;
  justify-content: space-between;
  
}

.navbar-left i{
  margin-right: 5px;
}

.navbar-left .navbar-left-top {
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  flex-direction: column;

}

.navbar-left .navbar-left-bottom {
  justify-content: flex-end;
  flex-direction: column;
  height: 100%;
}

.navbar-left .navbar-left-top > *, .navbar-left .navbar-left-bottom >* {
  color: #878787;
  cursor: pointer;
  margin-bottom: 0px;
  font-size: 0.8em;
  padding: 10px 20px 10px 20px;
}




/* .navbar-left .navbar-left-top :nth-child(1):hover, .navbar-left .navbar-left-bottom >*:hover, .navbar-left .navbar-left-top .playlist > *:hover {
  color: white;
  font-weight: bold;

}  */

.navbar-left .navbar-left-top .playlist > *:hover,.navbar-left .navbar-left-top .home:hover , .navbar-left .navbar-left-top .search:hover, .navbar-left .navbar-left-top .libreria:hover ,.navbar-left .navbar-left-bottom >*:hover{
  border-left: 2px solid #ADFF2F;
  padding-left: 18px;
  color: white;
  font-weight: bold;
}

.navbar-left .navbar-left-top .logo{
  margin-bottom: 10px;
  
}

.navbar-left .navbar-left-top .playlist{
  padding-left: 0;
}

.navbar-left .navbar-left-top .playlist .titolo{
  cursor: default;

}

.navbar-left .navbar-left-top .playlist .titolo:hover, .navbar-left .navbar-left-bottom hr:hover{
  border-left: none;
  padding-left: 20px;

}

.navbar-left .navbar-left-top .playlist > *{
  
  font-size: 1em;
  padding: 10px 20px 10px 20px;
}

.navbar-left .navbar-left-top .playlist .titolo{
  color: white;
}

.navbar-left .navbar-left-bottom hr{
  padding: 0;
  margin: 5px 0 5px 0;
  cursor: default;
}


.navbar-left .navbar-left-bottom .profile{
  flex-direction: row;
  margin-bottom: 0px;
}

.navbar-left .navbar-left-bottom .profile .profile-icon{
  background-color: #878787;
  color: white;
  font-size: 1.3em;
  border-radius: 50%;
  
}

.navbar-left .navbar-left-bottom .profile .profile-icon i{
  margin-right: 0px;
}

.navbar-left .navbar-left-bottom .profile .profile-name{
  margin-left: 5px;
}



/* navbar-left */
/* .navbar-left-small-screen */

.navbar-left-small-screen {
  width: 50px;
  max-width: 50px;
  background-color: black;
  height: calc(100% - 12vh);
  
  flex-direction: column;
  justify-content: space-between;

  display: none;
  

}


.navbar-left-small-screen .navbar-left-small-screen-top{
  flex-direction: column;
  justify-content: flex-start;
}

.navbar-left-small-screen .navbar-left-small-screen-top .logo-small-screen{
  justify-content: center;
  padding: 10px 5px 5px 5px;
  
}

.navbar-left-small-screen .navbar-left-small-screen-top .logo-small-screen img{
  width: 100%;
}


.navbar-left-small-screen .navbar-left-small-screen-bottom{
  flex-direction: column;
  justify-content: flex-end;
}

.navbar-left-small-screen .navbar-left-small-screen-top > *,.navbar-left-small-screen .navbar-left-small-screen-bottom > *{
  justify-content: center;
  font-size: 1.3em;
  margin-bottom: 10px;
  color: #878787; 
  padding: 10px 10px 10px 10px;
  
}

.navbar-left-small-screen .navbar-left-small-screen-top > *:hover,.navbar-left-small-screen .navbar-left-small-screen-bottom > *:hover{
  cursor: pointer;
  font-weight: bold; 
  border-left: 2px solid #ADFF2F; 
  padding-left: 8px;
  color: white;
  
}

.navbar-left-small-screen .navbar-left-small-screen-top .logo-small-screen:hover{
  padding-left: 3px;
  
}

.navbar-left-small-screen .navbar-left-small-screen-bottom .download-small-screen {
  font-size: 0.8em;
}

.navbar-left-small-screen .navbar-left-small-screen-bottom .user-small-screen span{
  background-color: #878787;
  border-radius: 50%;
  color: white;
  
  
  
}

/* .navbar-left-small-screen */



/* upgrade bar */
.upgrade{
  height: 90px;
  width: calc(100% - 210px);
  background-color: #080B12;
  right: 0%;
  padding: 10px 25px 10px 10px;
  justify-content: flex-end;
  opacity: 0.5;
  
}

.upgrade .upgrade-button{
  align-items: center;
}

.upgrade .upgrade-button button#upgrade-btn{
  padding: 10px 35px 10px 35px;
  height: 30px;
  border-radius: 25px;
  border-color: white;
  border: 1px solid white;
  background-color: transparent;
  align-items: center;
  cursor: pointer;
}

.upgrade .upgrade-button button#upgrade-btn:hover{
  background-color: #878787;
}

.upgrade .upgrade-button button:hover a{
  color: white;
  opacity: 1.5;
}

/* upgrade bar */
/* albums container */
.albums-container{
  width: calc(100% - 210px);
  padding-top: 95px;
  background-color: #141922;
  height: 90% ;
  padding-left: 15px;
  padding-right: 15px;
  overflow-y: auto;
  flex-direction: column;
}

.albums-container h2{
  color: white;
  margin-bottom: 5px;
}

.albums-container h6{
  color: #878787;
  margin-bottom: 10px;
}


/* spotify offers */
.albums-container .spotify-offers{
  width: 100%;
  
  
}

.albums-container .spotify-offers ul{
  list-style: none;
  padding: 15px 0px 15px 0px;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap; 
}

.albums-container .spotify-offers ul li{
  padding: 0 15px 0 15px;
  margin-bottom: 30px;
}

.albums-container .spotify-offers ul li a:hover{
  color: white;
  font-weight: bold;
}

.albums-container .spotify-offers ul .first-li{
  flex-direction: column;
  align-items: center;

}

.albums-container .spotify-offers ul li #in-evidenza{
  width: 40%;
  border-color: #ADFF2F;
  

}


.albums-container .spotify-offers ul li a {
  color: #878787;
  font-weight: bold;
}
/* spotify offers */




/* .recently-played */
/* spotify album */


.albums-container h2:first-of-type{
  margin-bottom: 25px;
}

.albums-container .recently-played{
  flex-direction: row;
  gap:10px;
  flex-wrap: wrap;
  margin-bottom: 45px;
}


/* width: calc( 100% / [numero colonne totali] * [colonne che vogliamo occupare] - ([spazio da creare] / [colonne totali] * [spazi vuoti nella riga] )  */

.albums-container .recently-played .album {
  width: calc(100% / 6 * 1 - (10px / 6 *5));
  flex-direction: column;
  
}


.album .album-image{
  width: 100%;
}

.album .album-image:hover{
  cursor: pointer;
}

.album .album-image img {
  object-fit: contain;
  width: 100%;
  height: 100%;
  
}

.album .album-description{
  flex-direction: column;
  gap:6px;
  width: 100%;
  align-items: center;

}

.album .album-description .album-title {
  color: white;
  text-align: center;
  cursor: pointer;
}

.album .album-description .album-subtitle {
  color: #878787;
  text-align: center;
  cursor: pointer;
  
}


/* spotify album */
/* .recently-played */

/* .targeted-music */
.albums-container .targeted-music{
  flex-direction: row;
  /* justify-content: flex-start; */
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 45px;

} 

.albums-container .targeted-music .album {
  width: calc(100% / 6 * 1 - (10px / 2 *1));
  flex-direction: column;
  gap:10px;
}



/* .targeted-music */
/* .artisti-popolari */
.albums-container .artisti-popolari{
  flex-direction: row;
  /* justify-content: flex-start; */
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 45px;

} 

.albums-container .artisti-popolari .album {
  width: calc(100% / 6 * 1 - (10px / 2 *1));
  flex-direction: column;
  gap:10px;
}


.albums-container .artisti-popolari .album .album-image img{
  border-radius: 50%;

} 
/* .artisti-popolari */
/* albums container */
/* MEDIA QUERY */

@media screen and (min-width: 768px) and (max-width: 991px){
  .albums-container .recently-played .album {
    width: calc(100% / 4 * 1 - (10px / 4 *3));
   justify-content: none;
    
  }
  .albums-container .targeted-music .album {
    width: calc(100% / 4 * 1 - (10px / 2 *1));
    
  }

  .albums-container .artisti-popolari .album {
    width: calc(100% / 4 * 1 - (10px / 1 *1));
    flex-direction: column;
    gap:10px;
  }
  .play-bar{
    font-size: 0.8em;
  }

}

@media screen and (min-width: 576px) and (max-width: 767px){
  .albums-container .recently-played .album {
    width: calc(100% / 2 * 1 - (10px / 1 *1));
   justify-content: none;
    
  }
  .albums-container .targeted-music .album {
    width: calc(100% / 2 * 1 - (10px / 1 *1));
    
  }

  .albums-container .artisti-popolari .album {
    width: calc(100% / 2 * 1 - (10px / 1 *1));
    flex-direction: column;
    gap:10px;
  }

  .play-bar .bottom-left .like-and-folder{
    flex-direction: column;
    gap: 5px;
  }

}

@media screen and (max-width: 575px){
  .navbar-left{
    display: none;
  }

  .navbar-left-small-screen{
    display: flex;
  }
  .upgrade{
    
    width: calc(100% - 50px);
  }
  .albums-container{
    width: calc(100% - 50px);
  }
  .albums-container .recently-played .album {
    width: calc(100% / 2 * 1 - (10px / 1 *1));
   justify-content: none;
    
  }
  .albums-container .targeted-music .album {
    width: calc(100% / 2 * 1 - (10px / 1 *1));
    
  }

  .albums-container .artisti-popolari .album {
    width: calc(100% / 2 * 1 - (10px / 1 *1));
    flex-direction: column;
    gap:10px;
  }
  .play-bar .bottom-left .like-and-folder{
    flex-direction: column;
    gap: 5px;
  }

  

}